:root {
  --main: #f9f1f0;
  --additional: #fadcd9;
  --secondary: #f8afa6;
  --coral: #f79489;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  box-sizing: border-box;
}

body {
  background-color: white;
}

/* Header */
header {
  height: 40px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: var(--coral);

  border-bottom: 3px solid var(--coral);
  font-size: 22px;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 4vw;
}

.form-sidebar {
  width: 40%;
  max-width: 550px;
  margin: 10px 20px;
  flex-wrap: wrap;
  min-width: 250px;
  /* background-color: var(--coral); */
  min-height: 50vw;
  height: 100%;
}

/* cmpglab@ilac.com */
.resume {
  width: 16cm;
  height: 22.22cm;
  /* margin: 0 20px; */
  padding: 0.8cm 1.2cm;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  line-height: 1.3;
  background-color: white;
  -webkit-box-shadow: 0px 0px 35px 4px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 0px 35px 4px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 0px 35px 4px rgba(0, 0, 0, 0.219);
}

/* #resume-pdf {
  width: 16cm;
  height: 22.23cm;
  box-sizing: border-box;
  background-color: white;
} */

/* .summary {
  margin: 1% 5%;
} */

/* .text {
  font-family: Arial, sans-serif;
  font-size: 11pt;
  line-height: 1.6;
  margin: 0.2in; /* 1 inch margin on all sides 
}
 */
.header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  box-sizing: border-box;
}

.header h1 {
  margin: 10px;
  flex-grow: 1;
  font-size: 30px;
  padding-right: 70px;
}

.header button {
  position: relative;
  margin: 10px;
}

.logo {
  padding: 10px;
  margin-left: 50px;
}

/*   Button  */

.bn3637 {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px;
  justify-content: end;
  padding: 0.5rem 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
}

.bn37 {
  border-color: transparent;
  background-color: rgb(182, 199, 228);
  border-radius: 6px;
  color: #000;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.bn37:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

/* form textarea {
  resize: "vertical";
  min-height: "100px";
  outline: "none";
} */

/* Modules */
.module {
  background-color: white;
  margin: 20px 0;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 35px 4px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 0px 35px 4px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 0px 35px 4px rgba(0, 0, 0, 0.219);
}

.module-info h1 {
  height: 60px;
  font-size: 20px;
}

.module input,
.module select {
  background-color: #e6e6e6;
  border-radius: 5px;
  /* height: 30px; */
  margin: 10px;
  border: none;
  padding: 10px;
}

.module textarea {
  background-color: #e6e6e6;
  border-radius: 5px;
  /* height: 30px; */
  margin: 10px;
  border: none;
  padding: 10px;
  width: 90%;
  align-self: center;
}

.module-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.module-info h1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.module-info button {
  height: 30px;
  width: 30px;
  border-radius: 10px;
  border: none;
  font-size: 30px;
  margin: 5px;
  background-color: white;
  cursor: pointer;
}

/* Resume */

.personal-info-display {
  text-align: center;
  /* margin-top: 30px; */
}

.experience {
  margin: 10px 0 5px 0;
}

.experience-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 6px 0;
}

.experience-full ul {
  margin: 0 1.2rem;
}

.job {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  border: 1px solid #a5a3a3;
  padding: 5px;
  border-radius: 10px;
}

/* eye-icon */

.icon {
  margin-right: 10px;
  flex-grow: 1;
}

.eye-icon {
  font-size: 18px;
}

.seen-btn {
  border: none;
  background-color: white;
  margin-right: 20px;
}

.job-company {
  margin-left: 20px;
  flex-grow: 2;
}

.skill-form {
  display: flex;
  flex-direction: row;
}

.skills-input {
  flex-grow: 1;
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill {
  width: fit-content;
  background-color: #ecf2f4;
  border-radius: 3px;
  padding: 7px 10px;
  margin: 10px;
}

.skill-text {
  padding: 0 15px;
}

.crossed-out {
  text-decoration: line-through;
}

/* Resume rendering skills */
.skills-list-resume {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Display 3 columns */
  gap: 4px 16px; /* Add some space between skills */
}

.skill-resume {
}

/* Education Resume */

.main-info-education-resume {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading-dates-education-resume,
.experience-heading-dates {
  margin-right: 40px;
}

h5 {
  font-weight: bold;
  font-size: 9pt;
  margin: 8px 0 4px 0;
}
