:root {
  --main: #f9f1f0;
  --additional: #fadcd9;
  --secondary: #f8afa6;
  --coral: #f79489;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  box-sizing: border-box;
}

body {
  background-color: white;
}

/* Header */
header {
  height: 40px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: var(--coral);

  border-bottom: 3px solid var(--coral);
  font-size: 22px;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 4vw;
}

.form-sidebar {
  width: 40%;
  max-width: 550px;
  margin: 10px 20px;
  flex-wrap: wrap;
  min-width: 250px;
  /* background-color: var(--coral); */
  min-height: 50vw;
  height: 100%;
}
.resume {
  margin: 20px;
  width: 50%;
  min-width: 700px;
  max-width: 700px;
  height: auto;
  min-height: 900px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 35px 4px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 0px 35px 4px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 0px 35px 4px rgba(0, 0, 0, 0.219);
}

.header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.header h1 {
  margin: 10px 30px;
  font-size: 30px;
  padding-right: 70px;
}

.header button {
  position: relative;
  margin: 10px;
}

.logo {
  padding: 10px;
  margin-left: 50px;
}

/*   Button  */

.bn3637 {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px;
  justify-content: end;
  padding: 0.5rem 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
}

.bn37 {
  border-color: transparent;
  background-color: var(--secondary);
  color: #000;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.bn37:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

/* Modules */
.module {
  background-color: white;
  margin: 20px 0;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 35px 4px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 0px 35px 4px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 0px 35px 4px rgba(0, 0, 0, 0.219);
}

.module-info h1 {
  height: 60px;
  font-size: 20px;
}

.module input,
.module select {
  background-color: #e6e6e6;
  border-radius: 5px;
  /* height: 30px; */
  margin: 10px;
  border: none;
  padding: 10px;
}

.module textarea {
  background-color: #e6e6e6;
  border-radius: 5px;
  /* height: 30px; */
  margin: 10px;
  border: none;
  padding: 10px;
  width: 90%;
  align-self: center;
}

.module-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.module-info h1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.module-info button {
  height: 30px;
  width: 30px;
  border-radius: 10px;
  border: none;
  font-size: 30px;
  margin: 5px;
  background-color: white;
  cursor: pointer;
}

/* Resume */

.personal-info-display {
  text-align: center;
  margin-top: 30px;
}

.experience {
  margin: 10px 50px;
  /* display: flex;
  flex-direction: column; */
}

.experience-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

.experience-full ul {
  margin: 0 1.2rem;
}

.job {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  border: 1px solid #a5a3a3;
  padding: 5px;
  border-radius: 10px;
}

/* eye-icon */

.icon {
  margin-right: 10px;
  flex-grow: 1;
}

.eye-icon {
  font-size: 18px;
}

.seen-btn {
  border: none;
  background-color: white;
  margin-right: 20px;
}

.job-company {
  margin-left: 20px;
  flex-grow: 2;
}
